<h4> Q1

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

<h4> Q2 & Q3

In [4]:
housing = pd.read_csv(r'C:\Users\smesmgmt009\Downloads\datasets_master_housing.csv')

In [7]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

<h4> Q4

In [8]:
housing['ocean_proximity'].nunique()

5

<h4> Q5

In [14]:
pd.pivot_table(housing, values = 'median_house_value', index = 'ocean_proximity', aggfunc="mean")

                 median_house_value
ocean_proximity
<1H OCEAN             240084.285464
INLAND                124805.392001
ISLAND                380440.000000
NEAR BAY              259212.311790
NEAR OCEAN            249433.977427

<h4> Q6

In [15]:
housing['total_bedrooms'].mean()

537.8705525375618

In [17]:
housing['total_bedrooms'].fillna(537.8705525375618).mean()

537.8705525375639

<h4> Q7

In [62]:
df = housing[housing['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms','total_bedrooms']]

In [63]:
X = df.values

In [72]:
XTX = X.T.dot(X)

In [73]:
XTXinv = np.linalg.inv(XTX)

In [66]:
y = np.array([950,1300,800,1000,1300])

In [78]:
XTXinvXT = XTXinv.dot(X.T)

In [79]:
w = XTXinvXT.dot(y)

In [80]:
w

array([23.12330961, -1.48124183,  5.69922946])